/*@font-face {
	font-family: futura-b;
	src: url(futura/FuturaStd-Heavy.otf);
}

@font-face {
	font-family: futura-bb;
	src: url(futura/FuturaStd-Bold.otf);
}
*/
@font-face {
	font-family: kepler-b;
	src: url(kepler-std/KeplerStd-BoldCapt.otf);
}

@font-face {
	font-family: kepler-bb;
	src: url(kepler-std/KeplerStd-BoldCapt.otf);
}

@font-face {
	font-family: AvenirNext-Bold;
	src: url(avenir/AvenirNext-Bold-01.ttf);
}

@font-face {
	font-family: AvenirNext-DemiBold;
	src: url(avenir/AvenirNext-DemiBold-03.ttf);
}

@font-face {
	font-family: AvenirNext-Medium;
	src: url(avenir/AvenirNext-Medium-06.ttf);
}

@font-face {
	font-family: AvenirNext-Regular;
	src: url(avenir/AvenirNext-Regular-08.ttf);
}

/* declaration end */

body {
	overflow-x: hidden;
}

.mockup-container {
	max-width: 420px !important;
	margin: auto !important;
}


/*
============================
	START OF TEXT CLASSES		 
============================
*/

/* Primary header */
h1{
	font-size: 32px;
	font-family: 'AvenirNext-DemiBold', sans-serif;
	color: #FD926F;
}

/* Header on project pages wpost-scroll-down */
h1.text-shrink{
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	font-size: 21px;
	line-height: 40px;
	margin: 12px 0px 12px 0px;
}

/* Text in project banners */
h2 {
	font-family: 'kepler-b', serif;
	font-size: 8em;
	line-height: 0.8;
	margin-top: 0px;
}

@media (max-width: 1002px) {
    h2 {
		font-family: 'kepler-b', serif;
		font-size: 5em;
		line-height: 0.8;
		margin-top: 0px;
	}
}



h2.page-title {
	font-family: 'kepler-b', serif;
	display: inline;
	font-size: 3.5em;
	line-height: 0.95;
}

h2.page-title span {
	background-color: #FD926F;
	padding: 4px 0px;
}

/* Section headers in project pages*/
h3 {
	font-family: 'AvenirNext-DemiBold', sans-serif;
	font-size: 30px;
	color: #444;
}

/* Default heading text size */
h4{
	font-size: 1.25em;
	font-family: 'AvenirNext-DemiBold', sans-serif;
}


h4.thesis-caption{
	font-size: 1.6em;
    line-height: 1.1;
    font-family: 'AvenirNext-DemiBold', sans-serif;
    color: #909090;
}

h6 {
	font-family: 'AvenirNext-DemiBold', sans-serif;
	font-size: 1.1em;
	line-height: 1.15;
	margin-bottom: 12px;
	color: #444;
}

h6.project-subtitle{
	font-family: 'AvenirNext-Regular', sans-serif;
	/*font-size: 1em;*/
	line-height: 1.15;
	color: #5b5e6d;
}

/* Project Page details sub-headers*/
.project-details{
	color: #2f9ba0 !important;
}

h6.highlight-header {
	font-family: 'kepler-bb';
	font-size: 21px;
	line-height: 24px;
}

p {
	font-family: 'AvenirNext-Regular', sans-serif;
	color: #5b5e6d;
	font-size: 1em;
	line-height: 1.5;
}

/* Landing page bio text */
p.intro {
	color: #5b5e6d;
	font-family: 'AvenirNext-Regular', sans-serif;
	font-size: 1.1em;
	line-height: 1.5em;
	margin: 16px 0px 24px 0px;
}

.cv{
	font-size: 1.25em !important;
	margin-top: 24px !important;
}

p.highlight {
	font-family: 'AvenirNext-Medium', sans-serif;
	color: #2a2a2a;
	font-size: 18px;
	line-height: 21px;
}

p.img-caption{
	font-size: 14px;
	line-height: 16px;
	padding: 0px 32px;
}

/* Footer text */
p.footer-text{
	margin-top: 24px;
	font-weight: 500;
	color: #111;
	font-size: 18px;
}

/* List Style Class*/
ul.body-text{
	list-style-type: circle;
	color: #444;
	font-family: 'AvenirNext-Regular', sans-serif;
	color: #444;
	font-size: 1em;
	line-height: 1.5;
	padding-left: 20px;
}

ul.body-text > li {
	margin: 12px 0px;
}

span.quoted {
	font-style: italic;
	color: #666666;
}

span.highlight {
	color: #FF9E2B;
}

/*
For publications
*/

span.paper-title{
	font-family: 'AvenirNext-DemiBold', sans-serif;
	font-size: 1.1em;
	line-height: 1.5em;
}

span.authors{
	font-size: 1.1em;
	line-height: 1.5em;
}

span.venue{
	font-size: 1.1em;
	line-height: 1.5em;
}

b {
	font-family: 'AvenirNext-DemiBold', sans-serif;
}

/*
============================
	END OF TEXT CLASSES		 
============================
*/


/*
============================
	START OF TEXT STYLES		 
============================
*/

.uppercase{
	text-transform: uppercase;
}

.text-dark{
	color: #444 !important;
}

.text-dark {
	color: #444 !important;
}

/*
============================
	END OF TEXT STYLES		 
============================
*/


/*
==================================
	START OF HYPERLINK CLASSES		 
==================================
*/

a{
	font-family: 'AvenirNext-Medium', sans-serif;
	color: #444;
	display: inline-block;
	text-decoration: none;
}

a:hover,
a:focus,
a:active
 {
	text-decoration: none;
	color: #FD926F;
}

.cv:hover,
.cv:focus,
.cv:active
 {
	text-decoration: underline;
	color: #FD926F;
}

a.contact-text {	
	margin-left: 12px;
}

a.quick-links{
	text-transform: uppercase;
	line-height: 40px;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

a.portfolio-item-link{
	width: 100%;
}

a.quick-links:hover,
a.quick-links:focus,
a.quick-links:active {
	text-decoration: none;
	color: #FD926F;
}

a.quick-links-current{
	text-transform: uppercase;
	font-weight: 600 !important;
	color: #FD926F;
	margin-bottom: 0px;
	line-height: 40px;
}

a.quick-links-current:hover,
a.quick-links-current:focus,
a.quick-links-current:active {
	text-decoration: none;
}


a.portfolio-text-link{
	text-decoration: none;
}

a.portfolio-text-link:hover,
a.portfolio-text-link:focus,
a.portfolio-text-link:active{
	color: #FD926F;
	text-decoration: none;
}

a.page-header{
	margin: 0px;
	padding: 0px !important;
	border: none;
}

a.page-header:hover,
a.page-header:focus,
a.page-header:active {
	text-decoration: none;
}

a.about-link {
	color: #FD926F;
}

a.about-link:focus,
a.about-link:hover,
a.about-link:active {
	text-decoration: none;
	color: #FD926F;
}

a.ref-link {
	font-weight: 400;
	line-height: 24px;
	border-bottom: 1px #FD926F solid;
}

a.ref-link:hover,
a.ref-link:focus,
a.ref-link:active
 {
 	text-decoration: none;
	color: #FD926F;
}

/*
==================================
	END OF HYPERLINK CLASSES		 
==================================
*/


/* Circle class - Social Media Icons*/
.circle{
	border-style: solid;
	border-width: 1pt;
	border-color: #FD926F;
	border-radius: 50%;
	width: 32px;
	height: 32px;
}

a.social-icons{
	color: #FD926F;
}

a.social-icons:hover,
a.social-icons:focus,
a.social-icons:active {
	text-decoration: none;
}

.circle:hover{
	background-color: #FD926F;
	border-color: #FD926F;
	color: #fff;
}

.fa.tiny {
	width: 32px;
	height: 32px;
	line-height: 32px;
}


/*
==================================
	START OF NAVBAR CLASSES		 
==================================
*/

.nav-fix-top {
	position: fixed !important;
	width: 100%;
	z-index: 999;
	left: 0px !important;
}

.navbar{
	border: 0px;
	margin: 0px;
	background: white;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

div.hr {
	background: #fff  no-repeat scroll center;
	height: 56px;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

hr.underline {
	margin: 0px !important;
	border: 2px solid #7BCDD1 !important;
	width: 180px;
	float: left;
	display: block;
}

div.header-shrink{
	height: 40px;
	margin: 12px 0px;
}

div.current-page{
	text-align: center;
	display: inline-block;
}

div.nav-page-tabs{
	-webkit-transition: all 0.5s ease;
	width: 100%;
	max-height: 40px;
	display: inline-block;
	transition: all 0.5s ease;
	text-align: center;
}

/*
==================================
	END OF NAVBAR CLASSES		 
==================================
*/

/* Page Footer */
div.page-footer{
	padding: 64px 0px;
	background-color: #f6f6f6;
}

/* Buttons */
.div-btn{
	margin: auto;
	height: 36px;
	width: 144px;
	background-color: #282828;
	color: white;
	line-height: 36px;
	text-align: center;
	font-family: 'AvenirNext-Medium', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
}

.btn-color-outline {
	max-height: 32px;
	max-width: 144px;
	line-height: 32px;
	text-align: center;
	font-family: 'AvenirNext-Medium', sans-serif;
	font-size: 16px;
	text-transform: uppercase;
	cursor: pointer;
	border-radius: 50%;
}


/*
==============================================
	LANDING PAGE PROJECT IMAGE THUMBNAILS		 
==============================================
*/
.portfolio-item{
	width: 100%;
	height: 180px;
	margin: 0px;
	background-size: 125%; 
	background-position: center center;
	-webkit-transition: background-size ease .5s;
	-moz-transition: background-size ease .5s;
	transition: background-size ease .5s;
}

.portfolio-item:hover {
	background-size: 150%;
}

div.cover-text-placeholder{
	margin: auto;
	padding: 60px 0px 32px 0px;
	z-index: 99;
	opacity: 1;
}

.img-thumbnail {
	padding: 0px !important;
	border: 0px;
	border-radius: 0px;
}

.cover{
	padding-left: 0px;
	padding-right: 0px;
	margin-top: 144px;
}



/*
======================================
	PROJECT PAGE STYLING CLASSES		 
======================================
*/

.thumbnail-icon {
	width: 48px;
	display: block;
	margin: 0px auto 12px auto;
}

.thumbnail-icon-lg {
	width: 128px;
	display: block;
	margin: auto;
}

.mockup-img {
	height: 540px;
}

.dark-bg-container{
	background-color: #333;
	padding: 96px 0px;
}

.orange-bg-container{
	background-color: #F9963E;
	padding: 96px 0px;
}

.grey-bg-container{
	background-color: #f0f0f0;
	padding: 96px 0px;
}

.solid-green-bg-container{
	background-color: #6BBC66;
	padding: 96px 0px;
}

.drop-shadow-container{
	box-shadow: 0px 2px 8px #bbb;
	padding: 12px 24px;
	min-height: 108px;
}

.drop-shadow-container:hover{
	box-shadow: 2px 4px 12px #979797;
}

/* Modal Image Class - primarily used for Personas */
#modal-img {
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s;
}

#modal-img:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 999; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
	.modal-content {
		width: 100%;
	}
}


/*
================================
	START OF MARGIN CLASSES
================================
*/
.nomargin {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}

.nomargin-top {
	margin-top: 0px !important;
}

.nomargin-side {
	margin-left: 0px !important;
	margin-right: 0px !important;
}

.center-align {
	margin-left: auto !important;
	margin-right: auto !important;
}

.margin-top-xs {
	margin-top: 12px !important;
}

.margin-btm-xs {
	margin-bottom: 12px !important;
}

.margin-top-sm {
	margin-top: 24px !important;
}

.margin-btm-sm {
	margin-bottom: 24px !important;
}

.margin-sm {
	margin-top: 24px !important;
	margin-bottom: 24px !important;
}

.margin-top-md {
	margin-top: 48px !important;
}

.margin-btm-md {
	margin-bottom: 48px !important;
}

.margin-top-lmd {
	margin-top: 60px !important;
}

.margin-btm-lmd {
	margin-bottom: 60px !important;
}

.margin-top-lg {
	margin-top: 80px !important;
}

.margin-btm-lg {
	margin-bottom: 80px !important;
}

.margin-lg {
	margin-top: 80px !important;
	margin-bottom: 80px !important;
}

.margin-top-xl {
	margin-top: 160px !important;
}

.padding-sm {
	padding: 5px !important;
}

.padding-md {
	padding: 15px !important;
}

.no-padding {
	padding-left: 0px !important;
}

.margin-xs-shrink {
	margin-top: 1px !important;
}

.margin-cover {
	margin-top: 180px;
}

.shiftup{
	margin-top: -32px !important;
}


/*
================================
	END OF MARGIN CLASSES
================================
*/



/*
================================
	START OF MEDIA QUERIES
================================
*/

iframe.video-container {
    width: 945px;
    height: 541px;
}

@media (max-width: 1366px) {
    iframe.video-container {
        width: 933px;
        height: 534px;
    }
}

@media (max-width: 1024px) {
    iframe.video-container {
        width: 766px;
        height: 439px;
    }
}

@media (max-width: 800px) {
    iframe.video-container {
        width: 610px;
        height: 349px;
    }

    .nav-name-container {
		text-align: center;
	}

	.text-shrink {
		margin-bottom: 0px !important;
	}

	.header-shrink {
		margin: 0px !important;
	}
}
