$font: Avenir Next, sans-serif;
$primary-color: #dc2127;
$header1-size: 36px;
$header2-size: 18px;
$body-size: ;

body {
    overflow-x: hidden;
}

h1{
	font-size: 36px;
    font-family: 'Avenir Next', sans-serif;
    font-weight: 600;
    color: #dc2127;
    margin: 36px 0px 16px 0px;
    -webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}